<!-- [user-layers]="UserLayers"
    [selected-user-layers]="SelectedUserLayers"

    (layer-checked)="LayerChecked($event)"
(layer-unchecked)="LayerUnchecked($event)"
 -->
<lcu-map 
(primary-map-location-list-changed)="PrimMapChanged($event)" 
[map-model]="MapConfig" 
[map-marker-set]="IconSet" 
(visible-location-list-changed)="ListChanged($event)"
(search-location-chosen)="SearchLocationChosen($event)" 
[pan-to]="RandomPan" 
[visible-locations-master-list]="MasterVisLocs"
[map-view-types]="MapViewTypes"
[custom-search-repress-dropdown-character-count]="2"
[custom-search-method]="'custom_search_value'"
[display-google-search-method]="true"
[repress-search-options-list]="false"
(custom-search-change)="CustomSearchChanged($event)"
[custom-search-input-results]="TestLocationSearchResults"
(top-lists-button-clicked)="TopListButtonClicked()"
(map-saved)="MapSaved($event)"

[displayed-journey]="TestJourney"
(journey-changed)="onJourneyChange($event)"
[ambl-on-location-array]="TestAmblLocationArray"
(legend-top-icon-clicked)="LegendIconClicked($event)"

[excluded-locations]="ExcludedLocations"></lcu-map>

<!-- <button (click)="GoToRandomLoc()">0 / 0</button>
<button (click)="GoToRandomMap()">random map</button>
<button (click)="LoadSecMaps()">secondary maps</button>
<button (click)="SimulateNewMapSet()">New Map Set</button> -->