<lcu-map 
(primary-map-location-list-changed)="PrimMapChanged($event)" 
[map-model]="MapConfig" 
[map-marker-set]="IconSet" 
(visible-location-list-changed)="ListChanged($event)"
(search-location-chosen)="SearchLocationChosen($event)" 
[pan-to]="RandomPan" 
[visible-locations-master-list]="MasterVisLocs"
[user-layers]="UserLayers"
[repress-search-options-list]="false"
[selected-user-layers]="SelectedUserLayers"
(layer-checked)="LayerChecked($event)"
(layer-unchecked)="LayerUnchecked($event)"
(custom-search-change)="CustomSearchChanged($event)"
[custom-search-input-results]="TestLocationSearchResults"
(top-lists-button-clicked)="TopListButtonClicked()"
(map-saved)="MapSaved($event)"></lcu-map>

<!-- <button (click)="GoToRandomLoc()">0 / 0</button>
<button (click)="GoToRandomMap()">random map</button>
<button (click)="LoadSecMaps()">secondary maps</button>
<button (click)="SimulateNewMapSet()">New Map Set</button> -->